$lightblack: #2C3032;
$lightgrey: #A6A5A6;
$logo-width: 150px;

@font-face {
  font-family: "PorscheNextTT-Bold";
  src: url("../fonts/PorscheNextTT-Bold.ttf");
}
.contentWrap {
  letter-spacing: 1px;
}
.dataTables_info {
  letter-spacing: normal;
}
table.dataTable thead {
  .sorting:before {
    content:"\e260";
    position: absolute;
    bottom: 12px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.9;
    color: black;
  }
  .sorting:after {
    content:"\e259";
    opacity: 0.9;
    color: black;
    bottom: 4px;
  }
  .sorting_asc:after {
      content: "\e260";
      color: #BE000E;
      opacity: 0.9;
  }
  .sorting_desc:after {
      content: "\e259";
      color: #BE000E;
      opacity: 0.9;
  }
}
#dataTable_wrapper {
  input, a {
    border-radius: 0;
  }
}
#addUserTable {
  td:nth-child(3) {
    color: $lightgrey;
  }
}
h1 {
  color: black;
  font-weight: 600;
}
.modal {
  top: 80px;
  .modal-form-search input {
    border-radius: 0 0 0 0;
  }
}
.modal-content {
  padding: 5px 15px 15px;
  border-radius: 0;
  form div, form .checkbox {
    margin-top: 20px;
  }
}
.dataTables_wrapper .modal-form-search {
  label, div.dataTables_filter input {
    width: 100%
  }
  div.dataTables_filter input {
    margin-left: 0;
    border-color: $lightgrey;
  }
}
#addUserModal {
  .modal-dialog,
  .modal-content {
      /* 90% of window height */
      height: 90%;
  }
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 60px);
    overflow-y: scroll;
}
.modal-title {
  color: $lightgrey;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
}
.modal-header {
  border: none;
  .close {
    font-size: 40px;
    font-weight: 400;
    line-height: 0.65;
  }
}
#addUserTable_wrapper {
  padding: 0px 15px 15px;
  height: inherit;
}
#addUserModal .modal-body {
  border: 1px $lightgrey solid;
  padding: 0 15px;
  margin-top: 10px;
}
.modal .table-borderless {
  border-top: none;
  td {
    border-top: none;
    padding: 12px 8px;
  }
}
.center {
  text-align: center !important;
  margin: 0 auto !important;
}
.qr-wrap img {
  max-width: 80%;
}
.modal-section {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
}
.no-radius {
  border-radius: 0 0 0 0 !important;
  border-color: $lightgrey;
}
.align-left {
  text-align: left;
}
.right-btn-wrap {
  text-align: right;
  padding: 10px 0;
}
.btn-black {
  background-color: $lightblack;
  color: white;
  padding: 5px 25px;
}
.btn-black:hover, .btn-black:focus, .btn-black:active {
  color: white;
}
.btn-black:hover {
  background-color: #555555;
}
.btn-primary {
  color: white;
  background: #4D7EC2;
  border-radius: 0;
  padding: 6px 20px;
}
.btn-default {
  border-radius: 0;
  padding: 6px 20px;
}
.btn .glyphicon {
  font-weight: 600;
}
.contentWrap .table-borderless, .modal .table-borderless {
    td {
      border-top: none;
      padding: 12px 8px;
    }
    th {
      border-bottom: 1px solid black;
    }
    .complete {
      color: $lightgrey;
    }
}
td:nth-child(2) {
  color: $lightgrey;
}
.appSettings {
  position: absolute;
  bottom: 0;
  a, i {
    color: black;
  }
  a {
    font-size: 20px;
    vertical-align: top;
  }
  i.glyphicon {
    font-size: 30px;
    font-weight: 600;
    padding-right: 10px;
  }
  a:hover {
    text-decoration: none;
  }
}
.contentNav {
  margin-bottom: 30px;
  a {
    color: $lightgrey;
    font-weight: 300;
  }
}
.login-form {
  position: relative;
  top: 100px;
  margin: 0 auto;
  max-width: 350px;
  img {
    margin: 0 auto 50px;
    width: 100%;
  }
  input, a {
    border-radius: 0px;
  }
  .forgot {
    float: right;
    color: black;
    text-decoration: underline;
    padding: 5px 0;
  }
}
nav.navbar.navbar-default.navbar-static-top {
  margin-bottom: 0;
  border-bottom-color: black;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  a {
    color: black;
    font-size: 18px;
    font-weight: 500;
  }
  .navLogo {
    bottom: 21px;
    background: white;
    position: relative;
    width: $logo-width;
    z-index: 999;
  }
  a.logout {
    color: #D43351;
  }
  .navbar-divider {
      display: none;
  }
  @media only screen and (max-width: 767px) {
    .navbar-brand {
      position: absolute;
      left: 50%;
      top: 0px;
      margin-left: -$logo-width/2;
      .navLogo {
        background: transparent;
      }
    }
  }
  @media only screen and (min-width: 767px) {
    .navbar-divider {
      color: #ddd;
      display: block;
      float: left;
      padding: 5px 5px 0px;
      font-weight: 300;
      font-size: 26px;
    }
  }
}
.porscheBackground {
  position: relative;
}
@media only screen and (min-width: 767px) {
  .porscheBackground {
    background: url('../images/red-porche.png');
    background-position: 100% -1px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 470px;
  }
}
.contentWrap {
  padding: 30px 0 100px;
    .landing-list {
      padding: 0;
      list-style-type: none;
      margin-top: 24px;
      li {
        display: block;
        font-size: 24px;
        margin: 18px 0;
      }
      li:before {
        content: "\e258";
        font-family: 'Glyphicons Halflings';
        font-size: 18px;
        float: left;
        margin-top: 6px;
        margin-left: -5px;
        margin-right: 15px;
        color: #BE000E;
      }
      li a {
        color: black;
      }
    }
}
@media only screen and (max-width: 767px) {
  .right-btn-wrap {
    text-align: center;
  }
}
