$lightblack: #2C3032;
$lightgray: #A6A5A6;
$gray: #4A4A4A;
$logo-width: 150px;

@font-face {
  font-family: "PorscheNextTT-Bold";
  src: url("../fonts/PorscheNextTT-Bold.ttf");
}
.contentWrap {
  letter-spacing: 1px;
  p {
    letter-spacing: normal;
  }
}
.dataTables_info {
  letter-spacing: normal;
}
table.dataTable thead {
  .sorting:before {
    content:"\e260";
    position: absolute;
    bottom: 12px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.9;
    color: black;
  }
  .sorting:after {
    content:"\e259";
    opacity: 0.9;
    color: black;
    bottom: 4px;
  }
  .sorting_asc:after {
      content: "\e260";
      color: #BE000E;
      opacity: 0.9;
  }
  .sorting_desc:after {
      content: "\e259";
      color: #BE000E;
      opacity: 0.9;
  }
}
#dataTable_wrapper {
  input, a {
    border-radius: 0;
  }
}
#addUserTable, #statTable {
  td:nth-child(3) {
    color: $lightgray;
  }
}
h1 {
  color: black;
  font-weight: 600;
}
.modal {
  top: 80px;
  .modal-form-search input {
    border-radius: 0 0 0 0;
    border: $lightgray;
  }
}
.modal-content {
  padding: 5px 15px 15px;
  border-radius: 0;
  form div, form .checkbox {
    margin-top: 20px;
  }
}
.dataTables_wrapper .modal-form-search {
  label, div.dataTables_filter input {
    width: 100%
  }
  div.dataTables_filter input {
    margin-left: 0;
    border: 1px solid $lightgray;
  }
}
#addUserModal {
  .modal-dialog,
  .modal-content {
      /* 90% of window height */
      height: 90%;
  }
}
.dataTables_filter input {
  border-radius: 0 0 0 0;
}
.modal-body {
    max-height: calc(100% - 60px);
    overflow-y: scroll;
}
.modal-title {
  color: $lightgray;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
}
.modal-header {
  border: none;
  .close {
    font-size: 40px;
    font-weight: 400;
    line-height: 0.65;
  }
}
.rel {
  position: relative;
  height: auto;
  margin: 30px 0 20px;
  .abs-right {
    position: absolute;
    right: 0;
    top: 0;
  }
  .btn-abs-right {
    position: absolute;
    right: 0;
    top: -7px;
  }
}
#addUserTable_wrapper {
  padding: 0px 15px 15px;
  height: inherit;
  .glyphicon-search:before {
    left: 6px;
  }
}
#addUserModal .modal-body {
  border: 1px $lightgray solid;
  padding: 0 15px;
  margin-top: 10px;
}
.modal .table-borderless {
  border-top: none;
  td {
    border-top: none;
    padding: 12px 8px;
  }
}
.center {
  text-align: center !important;
  margin: 0 auto !important;
}
.qr-wrap img {
  max-width: 80%;
}
.modal-section {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
}
.no-radius {
  border-radius: 0 0 0 0 !important;
  border-color: $lightgray;
}
.align-left {
  text-align: left;
}
.btn-wrap, .right-btn-wrap {
  padding: 10px 0;
}
.btn-wrap a, .right-btn-wrap a {
  margin: 3px auto;
}
.right-btn-wrap {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .btn-wrap, .right-btn-wrap {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .btn-wrap a, .right-btn-wrap a {
    display: block;
    width: 50%;
  }
}
.btn-gray {
  background-color: $gray;
  color: white;
  padding: 5px 25px;
  border-radius: 0 0 0 0;
}
.btn-lg {
  padding: 20px 25px;
  font-weight: 300;
}
.btn-gray:hover {
  background-color: $lightblack;
}
.btn-gray:hover, .btn-gray:focus, .btn-gray:active {
  color: white;
}
.btn-black {
  background-color: $lightblack;
  color: white;
  padding: 5px 25px;
}
.btn-black:hover, .btn-black:focus, .btn-black:active {
  color: white;
}
.btn-black:hover {
  background-color: #555555;
}
.btn-primary {
  color: white;
  background: #4D7EC2;
  border-radius: 0;
  padding: 6px 20px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background: #4D7EC2;
}
.btn-default {
  border-radius: 0;
  padding: 6px 20px;
}
.btn .glyphicon {
  font-weight: 600;
}
div.dataTables_filter input {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-left: 30px;
}
.glyphicon-search:before {
    content: "\e003";
    color: #A6A5A6;
    position: absolute;
    z-index: 2;
    left: 12px;
    font-size: 15px;
    width: 28px;
    margin-left: -2.5px;
    text-align: center;
    padding: 8px 0;
    top: 2px;
}
.glyph-label:before {
  top: 11px;
  left: 4px;
}
.glyph-label + input {
  padding-left: 30px;
  border: 1px solid $lightgray;
}
a svg {
  fill: #337ab7;
  margin-left: 8px;
}
a svg:focus, a svg:hover {
  fill: #23527c;
}
.user-active {
  display: inline-block;
  color: $lightgray;
}
.pre {
  white-space: pre;
}
.table-profile {
  border: 1px solid $lightgray;
  margin-top: 15px;
  thead {
    background-color: #F4F3F4;
    tr {
      border: 1px solid $lightgray;
    }
    td {
      padding: 10px;
    }
  }
}
.contentWrap .table-borderless, .modal .table-borderless {
    td {
      border-top: none;
      padding: 12px 8px;
    }
    th {
      border-bottom: 1px solid black;
    }
    .complete {
      color: $lightgray;
    }
}
.contentWrap .table-profile {
  td {
    vertical-align: middle;
  }
  tbody tr:first-of-type td {
    padding-top: 20px;
  }
  tbody tr:last-of-type td {
    padding-bottom: 20px;
  }
  thead td {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  td:nth-child(3) {
    color: $lightgray;
  }
}
@media only screen and (min-width: 767px) {
  .contentWrap .table-profile {
    thead td {
      padding: 15px 25px;
    }
    tbody td {
      padding: 10px 25px;
    }
  }
}
td:nth-child(2) {
  color: $lightgray;
}
.stat-wrap {
  padding: 10px 0 5px;
  h4 {
    margin-bottom: 15px;
  }
}
.profile-info {
  padding: 10px 0 50px;
}
.appSettings {
  margin-top: 50px;
  a, i {
    color: black;
  }
  a {
    font-size: 20px;
    vertical-align: top;
  }
  i.glyphicon {
    font-size: 30px;
    font-weight: 600;
    padding-right: 10px;
  }
  a:hover {
    text-decoration: none;
  }
}
.contentNav {
  margin-bottom: 30px;
  a {
    color: $lightgray;
    font-weight: 300;
  }
}
.login-form {
  position: relative;
  top: 100px;
  margin: 0 auto;
  max-width: 350px;
  img {
    margin: 0 auto 50px;
    width: 100%;
  }
  input, a {
    border-radius: 0px;
  }
  .forgot {
    float: right;
    color: black;
    text-decoration: underline;
    padding: 5px 0;
  }
}
.navbar-default .navbar-collapse {
  border-color: black;
}
nav.navbar.navbar-default.navbar-static-top {
  margin-bottom: 0;
  border-bottom-color: black;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  a {
    color: black;
    font-size: 18px;
    font-weight: 500;
  }
  .navLogo {
    bottom: 21px;
    background: white;
    position: relative;
    width: $logo-width;
    z-index: 999;
  }
  a.logout {
    color: #D43351;
  }
  .navbar-divider {
      display: none;
  }
  @media only screen and (max-width: 767px) {
    .navbar-brand {
      position: absolute;
      left: 50%;
      top: 0px;
      margin-left: -$logo-width/2;
    }
  }
  @media only screen and (min-width: 767px) {
    .navbar-divider {
      color: #ddd;
      display: block;
      float: left;
      padding: 5px 5px 0px;
      font-weight: 300;
      font-size: 26px;
    }
  }
}
@media only screen and (min-width: 767px) {
  .porscheBackground {
    background: url('../images/red-porche.png');
    background-position: 100% -1px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 470px;
  }
}
.contentWrap {
  padding: 30px 0 100px;
    .landing-list {
      padding: 0;
      list-style-type: none;
      margin-top: 24px;
      li {
        display: block;
        font-size: 24px;
        margin: 18px 0;
      }
      li:before {
        content: "\e258";
        font-family: 'Glyphicons Halflings';
        font-size: 18px;
        float: left;
        margin-top: 6px;
        margin-left: -5px;
        margin-right: 15px;
        color: #BE000E;
      }
      li a {
        color: black;
      }
    }
}
