@font-face {
  font-family: "PorscheNextTT-Bold";
  src: url("../fonts/PorscheNextTT-Bold.ttf");
}

* {
  letter-spacing: 1px;
}

h1 {
  color: black;
  font-weight: 600;
}

.appSettings {
  position: absolute;
  bottom: 0;
}

.appSettings a, .appSettings i {
  color: black;
}

.appSettings a {
  font-size: 20px;
  vertical-align: top;
}

.appSettings i.glyphicon {
  font-size: 30px;
  font-weight: 600;
  padding-right: 10px;
}

.appSettings a:hover {
  text-decoration: none;
}

.contentNav {
  margin-bottom: 30px;
}

.contentNav a {
  color: #A6A5A6;
  font-weight: 300;
}

.login-form {
  position: relative;
  top: 100px;
  margin: 0 auto;
  max-width: 350px;
}

.login-form img {
  margin: 0 auto;
  width: 100%;
}

.login-form input, .login-form a {
  border-radius: 0px;
}

.login-form .btn-black {
  background-color: #2C3032;
  color: white;
  padding: 5px 25px;
}

.login-form .forgot {
  float: right;
  color: black;
  text-decoration: underline;
  padding: 5px 0;
}

nav.navbar.navbar-default.navbar-static-top {
  margin-bottom: 0;
  border-bottom-color: black;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav.navbar.navbar-default.navbar-static-top a {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

nav.navbar.navbar-default.navbar-static-top .navLogo {
  bottom: 21px;
  background: white;
  position: relative;
  width: 150px;
  z-index: 999;
}

nav.navbar.navbar-default.navbar-static-top a.logout {
  color: #D43351;
}

nav.navbar.navbar-default.navbar-static-top .navbar-divider {
  display: none;
}

@media only screen and (max-width: 767px) {
  nav.navbar.navbar-default.navbar-static-top .navbar-brand {
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -75px;
  }
  nav.navbar.navbar-default.navbar-static-top .navbar-brand .navLogo {
    background: transparent;
  }
}

@media only screen and (min-width: 767px) {
  nav.navbar.navbar-default.navbar-static-top .navbar-divider {
    color: #ddd;
    display: block;
    float: left;
    padding: 5px 5px 0px;
    font-weight: 300;
    font-size: 26px;
  }
}

.porscheBackground {
  position: relative;
}

@media only screen and (min-width: 767px) {
  .porscheBackground {
    background: url("../images/red-porche.png");
    background-position: 100% -1px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 470px;
  }
}

.contentWrap {
  padding: 30px 0 100px;
}

.contentWrap ul {
  padding: 0;
  list-style-type: none;
  margin-top: 24px;
}

.contentWrap li {
  display: block;
  font-size: 24px;
  margin: 18px 0;
}

.contentWrap li:before {
  content: "\e258";
  font-family: 'Glyphicons Halflings';
  font-size: 18px;
  float: left;
  margin-top: 6px;
  margin-left: -5px;
  margin-right: 15px;
  color: #BE000E;
}

.contentWrap li a {
  color: black;
}
