@font-face {
  font-family: "PorscheNextTT-Bold";
  src: url("../fonts/PorscheNextTT-Bold.ttf");
}

.contentWrap {
  letter-spacing: 1px;
}

.contentWrap p {
  letter-spacing: normal;
}

.dataTables_info {
  letter-spacing: normal;
}

table.dataTable thead .sorting:before {
  content: "\e260";
  position: absolute;
  bottom: 12px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.9;
  color: black;
}

table.dataTable thead .sorting:after {
  content: "\e259";
  opacity: 0.9;
  color: black;
  bottom: 4px;
}

table.dataTable thead .sorting_asc:after {
  content: "\e260";
  color: #BE000E;
  opacity: 0.9;
}

table.dataTable thead .sorting_desc:after {
  content: "\e259";
  color: #BE000E;
  opacity: 0.9;
}

#dataTable_wrapper input, #dataTable_wrapper a {
  border-radius: 0;
}

#addUserTable td:nth-child(3), #statTable td:nth-child(3) {
  color: #A6A5A6;
}

h1 {
  color: black;
  font-weight: 600;
}

.modal {
  top: 80px;
}

.modal .modal-form-search input {
  border-radius: 0 0 0 0;
  border: #A6A5A6;
}

.modal-content {
  padding: 5px 15px 15px;
  border-radius: 0;
}

.modal-content form div, .modal-content form .checkbox {
  margin-top: 20px;
}

.dataTables_wrapper .modal-form-search label, .dataTables_wrapper .modal-form-search div.dataTables_filter input {
  width: 100%;
}

.dataTables_wrapper .modal-form-search div.dataTables_filter input {
  margin-left: 0;
  border-color: #A6A5A6;
}

#addUserModal .modal-dialog,
#addUserModal .modal-content {
  /* 90% of window height */
  height: 90%;
}

.dataTables_filter input {
  border-radius: 0 0 0 0;
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 60px);
  overflow-y: scroll;
}

.modal-title {
  color: #A6A5A6;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
}

.modal-header {
  border: none;
}

.modal-header .close {
  font-size: 40px;
  font-weight: 400;
  line-height: 0.65;
}

.rel {
  position: relative;
  height: auto;
  margin: 30px 0 20px;
}

.rel .abs-right {
  position: absolute;
  right: 0;
  top: 0;
}

.rel .btn-abs-right {
  position: absolute;
  right: 0;
  top: -4px;
}

#addUserTable_wrapper {
  padding: 0px 15px 15px;
  height: inherit;
}

#addUserModal .modal-body {
  border: 1px #A6A5A6 solid;
  padding: 0 15px;
  margin-top: 10px;
}

.modal .table-borderless {
  border-top: none;
}

.modal .table-borderless td {
  border-top: none;
  padding: 12px 8px;
}

.center {
  text-align: center !important;
  margin: 0 auto !important;
}

.qr-wrap img {
  max-width: 80%;
}

.modal-section {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
}

.no-radius {
  border-radius: 0 0 0 0 !important;
  border-color: #A6A5A6;
}

.align-left {
  text-align: left;
}

.btn-wrap {
  padding: 10px 0;
}

.right-btn-wrap {
  padding: 10px 0;
  text-align: right;
}

.btn-gray {
  background-color: #4A4A4A;
  color: white;
  padding: 5px 25px;
  border-radius: 0 0 0 0;
}

.btn-lg {
  padding: 20px 25px;
  font-weight: 300;
}

.btn-gray:hover {
  background-color: #2C3032;
}

.btn-gray:hover, .btn-gray:focus, .btn-gray:active {
  color: white;
}

.btn-black {
  background-color: #2C3032;
  color: white;
  padding: 5px 25px;
}

.btn-black:hover, .btn-black:focus, .btn-black:active {
  color: white;
}

.btn-black:hover {
  background-color: #555555;
}

.btn-primary {
  color: white;
  background: #4D7EC2;
  border-radius: 0;
  padding: 6px 20px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background: #4D7EC2;
}

.btn-default {
  border-radius: 0;
  padding: 6px 20px;
}

.btn .glyphicon {
  font-weight: 600;
}

.contentWrap .table-borderless td, .modal .table-borderless td {
  border-top: none;
  padding: 12px 8px;
}

.contentWrap .table-borderless th, .modal .table-borderless th {
  border-bottom: 1px solid black;
}

.contentWrap .table-borderless .complete, .modal .table-borderless .complete {
  color: #A6A5A6;
}

td:nth-child(2) {
  color: #A6A5A6;
}

.stat-wrap {
  padding: 10px 0 5px;
}

.stat-wrap h4 {
  margin-bottom: 15px;
}

.appSettings {
  margin-top: 50px;
}

.appSettings a, .appSettings i {
  color: black;
}

.appSettings a {
  font-size: 20px;
  vertical-align: top;
}

.appSettings i.glyphicon {
  font-size: 30px;
  font-weight: 600;
  padding-right: 10px;
}

.appSettings a:hover {
  text-decoration: none;
}

.contentNav {
  margin-bottom: 30px;
}

.contentNav a {
  color: #A6A5A6;
  font-weight: 300;
}

.login-form {
  position: relative;
  top: 100px;
  margin: 0 auto;
  max-width: 350px;
}

.login-form img {
  margin: 0 auto 50px;
  width: 100%;
}

.login-form input, .login-form a {
  border-radius: 0px;
}

.login-form .forgot {
  float: right;
  color: black;
  text-decoration: underline;
  padding: 5px 0;
}

.navbar-default .navbar-collapse {
  border-color: black;
}

nav.navbar.navbar-default.navbar-static-top {
  margin-bottom: 0;
  border-bottom-color: black;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav.navbar.navbar-default.navbar-static-top a {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

nav.navbar.navbar-default.navbar-static-top .navLogo {
  bottom: 21px;
  background: white;
  position: relative;
  width: 150px;
  z-index: 999;
}

nav.navbar.navbar-default.navbar-static-top a.logout {
  color: #D43351;
}

nav.navbar.navbar-default.navbar-static-top .navbar-divider {
  display: none;
}

@media only screen and (max-width: 767px) {
  nav.navbar.navbar-default.navbar-static-top .navbar-brand {
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -75px;
  }
}

@media only screen and (min-width: 767px) {
  nav.navbar.navbar-default.navbar-static-top .navbar-divider {
    color: #ddd;
    display: block;
    float: left;
    padding: 5px 5px 0px;
    font-weight: 300;
    font-size: 26px;
  }
}

@media only screen and (min-width: 767px) {
  .porscheBackground {
    background: url("../images/red-porche.png");
    background-position: 100% -1px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 470px;
  }
}

.contentWrap {
  padding: 30px 0 100px;
}

.contentWrap .landing-list {
  padding: 0;
  list-style-type: none;
  margin-top: 24px;
}

.contentWrap .landing-list li {
  display: block;
  font-size: 24px;
  margin: 18px 0;
}

.contentWrap .landing-list li:before {
  content: "\e258";
  font-family: 'Glyphicons Halflings';
  font-size: 18px;
  float: left;
  margin-top: 6px;
  margin-left: -5px;
  margin-right: 15px;
  color: #BE000E;
}

.contentWrap .landing-list li a {
  color: black;
}

@media only screen and (max-width: 767px) {
  .-wrap {
    text-align: center;
  }
}
